@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: "Open Sans", Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 16px;
	background:#bfbfbf;

}
h1, h2 {
	color: #fff;
	font-weight: 300;
	margin:0 0 15px 0;
}
.sTop div.titulo, .sTop img{
	display: inline-block;
	position: relative;
}
.sTop div.titulo{
	top:-4em;
	padding-left: 2em;
}
.sTop #fondonegro{
  background: rgba(0,0,0, .5);
  max-width: 100%;
  padding: 2em 2em 1em 2em;
}


.sTop h1 {
	font-size: 50px;
	letter-spacing: -1px;
	line-height: 100%;

}
.sTop h2 {
	font-size: 30px;
}
.sTop img{
	max-width: 15em;
	border-radius: .5em;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
  vertical-align: middle;
}



.clear {
	clear: both;
}
.wrap {
	max-width: 100%;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	max-width: 100%;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	z-index: 1000;
	width: 100%;
	background: #006b4e;
  box-shadow: rgba(0,0,0,.5) 0px 8px 20px;
}
.subMenu img{
	width:5em;
}
.subMenu .inner {
	padding:0;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 1.125em;
	padding: 1.4em 1.2em;   /* R E V I S A R */
	text-align: center;
	color: #fff;
}
.subMenu a:hover {
	background: #E57709;
}

.active {
	background: #FC9F03;
}
.end {
	margin: 0;
}


/* ESTILO MENU Y MENU MOBILE */

.rmm {
  display:block;
  position:relative;
  width:100%;
  padding:0px;
  margin:0 auto !important;
  text-align: center;
  line-height:19px !important;
}


.rmm .rmm-main-list, .rmm .rmm-main-list li {
  margin:0px;
  padding:0px;
}
.rmm ul {
  display:block;
  width:auto !important;
  margin:0 auto !important;
  overflow:hidden;
  list-style:none;
}


/* sublevel menu - in construction */
.rmm ul li ul, .rmm ul li ul li, .rmm ul li ul li a {
  display:none !important;
  height:0px !important;
  width:0px !important;
}
/* */


.rmm .rmm-main-list li {
  display:inline;
  padding:0px;
  margin:0px !important;
}
.rmm-toggled {
  display:none;
  width:100%;
  position:relative;
  overflow:hidden;
  margin:0 auto !important;
}
.rmm-button:hover {
  cursor:pointer;
}
.rmm .rmm-toggled ul {
  display:none;
  margin:0px !important;
  padding:0px !important;
}
.rmm .rmm-toggled ul li {
  display:block;
  margin:0 auto !important;
}

.rmm.minimal .rmm-main-list li a {
  display:inline-block;
  padding:8px 30px 8px 30px;
  margin:0px -3px 0px -3px;
}
.rmm.minimal .rmm-toggled {
  width:95%;
  min-height:36px;
}
.rmm.minimal .rmm-toggled-controls {
  display:block;
  height:36px;
  color:#fff;
  text-align:left;
  position:relative;
}
.rmm.minimal .rmm-toggled-title {
  position:relative;
  top:9px;
  left:9px;

}
.rmm.minimal .rmm-button {
  display:block;
  position:absolute;
  right:9px;
  top:7px;
}

.rmm.minimal .rmm-button span {
  display:block;
  margin:4px 0px 4px 0px;
  height:2px;
  background:#fff;
  width:25px;
}
.rmm.minimal .rmm-toggled ul li a {
  display:block;
  width:100%;
  text-align:center;
  padding:10px 0px 10px 0px;
  border-bottom:1px solid #dedede;
  color:#fff;
}
.rmm.minimal .rmm-toggled ul li:first-child a {
  border-top:1px solid #dedede;
}


/* FIN ESTILO MENU Y MENU MOBILE */


/* SECTIONS */
.sTop {
	min-height: 130px;
	background:url(../img/taller1.jpg)no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	color:#3d3d3d;
	padding: 13em 0 25em 0;
	height: 300px;

}

.s1 {
  height: 100%;
	background:#fff;
	color:#fff;
}
.s1 h1{
  color: #313131;
}

.s2 {
  height: 100%;
	background: #006b4e;
}
.s2 a {
	color: #fff;
}

.servi{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 45%;
}

.visor {
    width: 320px;
    margin: 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.visor .mascara {
    width: 320px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.visor img {
    display: block;
    position: relative;
    width: 320px;
}

.visor h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.visor p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.visor a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.visor a.info:hover {
    box-shadow: 0 0 5px #000
}
.efecto img {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}

.efecto .mascara {
    opacity: 0;
    background-color: rgba(255,255,255, 0.5);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.efecto h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.efecto p {
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.efecto a.info{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.efecto:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.efecto:hover .mascara {
    opacity: 1;
}

.efecto:hover h2,
.efecto:hover p,
.efecto:hover a.info {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
}

.efecto:hover p {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
}

.efecto:hover a.info {
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
}


.s3 {
  height: 100%;
	background: #fff;
}
.s3 h1{
	color: #313131;
}


.s4 {
  height: 100%;
	background: #006b4e;
}



.s5 {
	height: 700px;
	background: #fff;
	color: #313131;

}

.s6 {
	background: #161616;
}




.news {
    margin: 0 auto;
    margin-top:4em;
    width: 100%;
    height: 240px;
    max-width: 100%;
}

.image1, .image2 {
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    height: 100%;
}

.image1 img {
    display: block;
    margin: 0 auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image1:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.image2 img {
    display: block;
    margin: 0 auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image2:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


div#contacto div.contacto{
  background: rgba(0,0,0, .5);
  color:#313131;
  width: 100%;
  height: 87%;
  display: block;
  margin: 0 auto;
  padding-top: 5em;
}
.s5 h1{
  color:#313131;
}
div#contacto form{
  display: block;
  margin: 0 auto;
  max-width: 80%;
  padding: 0;
}
div#contacto div.contacto form div#centrado{
  color:#313131;
  display: block;
  margin: 0 auto;
  max-width: 50em;
}

div#contacto h2 {
  color:#313131;
   /* font-size: 40px;*/
   font-size: 15px;
}
form ul {
    display: block;
    margin: 0 auto;
    list-style-type:none;

}
form li{
    padding:4px;
    position:relative;
    list-style-type:none;
}
form label {
    float: left;
    color: #313131;
    display: inline-block;
    font-size: 25px;
    margin-top: .4em;
    padding: 3px;
    width: 120px;
    text-align: justify;

}
form input {
    height:20px;
    width:15em;
    padding:5px 8px;
    margin-top: .7em;

}

/*----- estilos visuales de los elementos --------*/
form input, form textarea, form button {
    border:1px solid #aaa;
    border-radius:.5em;
    color: #555555;
    font-size: 20px;
}
form input:focus, form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    border-radius:.5em;
}

form input:required:valid, form textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
    border-radius:.5em;
}
form input:focus:invalid, form textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    border-radius:.5em;
}

form textarea{
    width: 22.3em;
    height: 8em;
}
/* === Estilos del boton de Envio === */
    form.formulario  button{
        display: inline-block;
        width: 10.5em;
        margin-left: 5px;
        padding: .8em;
    }
button {
   font-size: 20px;
   font-weight: bold;
   line-height: 1;
   color: #444;
   border: none;
   background: #FFF;
   border: 1px solid #f1f1f1;
   border-radius: 5px;
}
button:hover {
    background:  rgb(229,119,9);
    color: #fff;
}
button:active {
   background:#00BFFF;
}


.fui-mail, .fui-cross{
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fui-mail:before {
  content: "\e01e";
}
.fui-cross:before {
  content: "\e00b";
}
#contacto1, #mapas{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}
#contacto1{
  max-width: 50%;
}
#mapas{
  width: 45%;
}
#mapas iframe{
	width: 100%;
}
#mapas h2{
  color: #313131;
}

.metal{
  background: white;
  color: #313131;
  height: 100%;
  top: 51px;
}
.metalmeca{
  position: fixed;
}
.metal h1{
  color: #313131;
}
.metal .flexslider,.metal .contenido_metal{
  max-width: 100%;
  float: left;

}
.metal #otros h2.titulo{
  color: #313131;
}

.metal #otros{
display: none;
}

@media screen and (min-width: 890px){
  .metal .flexslider,.metal .contenido_metal{
  width: 45%;
}
  .metal .contenido_metal{
    margin-left: 1em;
  }
  .metal #otros{
    display: block;
}

}
@media screen and (min-width: 1245px){
  .metal #otros .otros{
    width: 33%;
  }
}


/* Media JQuery es para posicionar la imagen de nuestra pagina dependiendo de la altura y la anchura de como se esta viendo la pagina en el navegador */



@media only screen and (max-width: 1146px){
  #mapas{
  width: 100%;
  padding-right: 0em;
  top: 0em;
  display: inline-block;

}

.s5 {
  height: 100%;


}

form textarea{
    width: 16.5em;
    height: 8em;

}

form.formulario  button{
    text-align: center;
    width: 7.7em;
}

}

@media only screen and (max-width: 1134px){


    .sTop #fondonegro{
        max-width: 100%;
        padding: 2em 2em 1em 2em;

    }

}

@media only screen and (max-width: 1104px){

  .s1 p{

    font-size: .9em;

  }

}

@media only screen and (max-width: 1073px){
  .sTop div.titulo{
  top:-4em;
  padding-left: 1em;
}

.sTop h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 20px;
}
.sTop img{
  max-width: 10em;
  border-radius: .5em;
}

}



@media only screen and (max-width: 913px){

  .s1 p{

    font-size: .8em;
}

@media only screen and (max-width: 890px){
  .servi{
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
}


}

@media only screen and (max-width: 865px){

  .s1 p{

    font-size: .8em;

  }
}


@media only screen and (max-width: 844px){

  form.formulario  button{
    text-align: center;
    width: 16em;
    display: inline-block;
}

}



@media only screen and (max-width: 788px){
   .sTop div.titulo{
      padding-left: 1em;


    }

    .sTop h1 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 20px;
}
}

@media only screen and (max-width: 760px){

  .sTop div.titulo{
      padding-left: 1em;

    }

   .sTop h1 {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 15px;
}


}

@media only screen and (max-width: 687px){

  .s1 p{

    font-size: .7em;

  }
}

@media only screen and (max-width: 655px){

   .sTop div.titulo{
      padding-left: 1em;
      top: 1em;

    }

   .sTop h1 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 20px;
}


}
@media only screen and (max-width: 557px){
  .sTop div.titulo{
      padding-left: 1em;
      top: 1em;

    }

    .sTop h1 {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 15px;
}



  }

@media only screen and (max-width: 524px){

  .s1 p{

    font-size: .6em;

  }
}

@media only screen and (max-width: 400px){

  .sTop div.titulo{
      padding-left: 1em;
      top: 1em;

    }

    .sTop h1 {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 100%;

}
.sTop h2 {
  font-size: 12px;
}

    }

    form textarea{
    width: 15em;
    height: 8em;

}

form.formulario  button{
    text-align: center;
    width: 15em;
    display: inline-block;
    margin: 0 auto;
}

form  input{

   width: 14em;
   margin: 0 auto;
}


  #mapas{
  width: 17em;
  display: inline-block;

}


}

